bidict
scikit-learn
numpy
networkx
matplotlib
# uppaal-py
pydot
graphviz
ipython
cvxopt
# pygraphviz
pm4py
gymnasium
torch
ltlf2dfa
click
# This is a legacy gym_minigrid package (v1.2.2) with the replacement of "gym" with "gymnasium"
gym_minigrid @ git+https://github.com/watakandai/gym-minigrid@gym-minigrid-legacy
pyyaml
gurobipy==10.0.3
ortools
distinctipy
