bidict
scikit-learn
numpy
networkx
matplotlib
# uppaal-py
pydot
graphviz
ipython
cvxopt
# pygraphviz
pm4py
gymnasium
torch
ltlf2dfa
click
gym_minigrid # Must edit all "import gym" to "import gymnasium as gym" AND "from gym." to "from gymnasium."
pyyaml
gurobipy==10.0.3
ortools
distinctipy
