bidict
scikit-learn
numpy
networkx
matplotlib
# uppaal-py
pydot
graphviz
ipython
cvxopt
# pygraphviz
pm4py
gymnasium
torch
ltlf2dfa
minigrid
click
gym
gym_minigrid @ git+https://github.com/mit-acl/gym-minigrid.git
# gym_minigrid # This won't work since it relies on the "gym" package
pyyaml
gurobipy==10.0.3
ortools
distinctipy
